<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>ScriptSpeare</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<link href="{% static "css/dropup.css" %}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{% static "javascript/clickstate.js" %}"></script>
		<script src="{% static "javascript/selectstate.js" %}"></script>
		<script src="{% static "javascript/abstractstate.js" %}"></script>
		<script src="{% static "javascript/mediaplayer.js" %}"></script>
		<script src="{% static "javascript/main.js" %}"></script>
		<script src="{% static "javascript/ui_elements.js" %}"></script>
		<script src="{% static "javascript/overlays.js" %}"></script>
		<script src="{% static "javascript/parser.js" %}"></script>
		{% block head_block %}
		{% endblock %}
	</head>
	
	<body>
		<div class="container-fluid">
			<div class="row" id="header">
				<div class="col-12 text-center">
					<h4><a href="{% url 'index' %}" style="text-decoration: none; color:white;">ScriptSpeare</a></h4>
				</div>
			</div>
			<div class="row" id="content" >
			{% block body_block %}
			{% endblock %}
			{% block bar_block %}
				<div  class=" row-centered navbar navbar-expand-lg fixed-bottom " style="height:4em; background-color: black;">
      			</div>
      		{% endblock %}
      		</div>

      	</div>
	</body>
</html>