{% extends 'Scriptspeare/base.html' %}
{% load staticfiles %}

{% block body_block %}
 		<div>
 			{% if category %}
 				<h1>{{ category.name }}</h1>
 			{% if plays %}
 			<ul>
 				{% for play in plays %}
 					<li><a href="{% url 'show_play' category.slug play.slug %}">{{ play.title }}</a></li>
 				{% endfor %}
 			</ul>
 			{% else %}
 				<strong>No plays currently in category.</strong>
			{% endif %}
 			{% else %}
 				The specified category does not exist!
 			{% endif %}
{% endblock %}