{% extends 'ScriptSpeare/base.html' %}
{% load staticfiles %}

{% block head_block %}

{% endblock %}

{% block body_block %}

{% if categories %}
		<div class="col cat-menu">
			<div class="row d-flex align-items-center justify-content-center"><h1>Choose a category:</h1></div>
			<div class="row d-flex align-items-center justify-content-center" >
				{%for category in categories %}
					<a  class="col d-flex justify-content-center" href="{% url 'show_category' category %}">
						<img id="categories" src="/static/images/{{category}}.jpg"  >
					</a>

				{%endfor%}
			</div>
			<div class="row d-flex align-items-center justify-content-center" >
				{%for category in categories %}
					<a id="categories" class="col d-flex justify-content-center"   href="{% url 'show_category' category %}">
						{{category}}
					</a>
				{%endfor%}
			</div>
			<div class="row d-flex align-items-center justify-content-center"><h1>{{category.name}}</h1></div>

				{% if category %}
					<br>
 					{% if plays %}

						<div class="row d-flex align-items-center justify-content-center">
 						{% for play in plays %}
						<a  class="col d-flex justify-content-center" href="{% url 'show_play' category play %}">
							<img id="play" src="/static/images/play_pics/{{play}}.png"  alt="{{ play }}" width="120" height="120">
						</a>
						{% endfor %}
						</div>


						<div class="row d-flex align-items-center justify-content-center">
						{% for play in plays %}
							<a id="plays" class="col d-flex justify-content-center"   href="{% url 'show_play' category play  %}">
								{{play}}
							</a>

						{% endfor %}
						</div>
					{% else %}
 					<strong>No plays currently in category.</strong>
					{% endif %}
 					{% else %}
 					The specified category does not exist!
 					{% endif %}
			</div>

		</div>
	{% else %}
		<strong>No categories present!</strong>
	{% endif %}
{% endblock %}
