{% extends 'ScriptSpeare/base.html' %}
{% load staticfiles %}

{% block body_block %}

{% if categories %}
		<div class="col cat-menu">
			<div class="row d-flex align-items-center justify-content-center"><h1>Choose a category:</h1></div>
			<div class="row d-flex align-items-center justify-content-center" >
				{%for category in categories %}
					<a  class="col d-flex justify-content-center" href="{% url 'show_category' category %}">
						<img id="categories" src="/static/images/{{category}}.jpg"  >
					</a>
				
				{%endfor%}
			</div>
			<div class="row d-flex align-items-center justify-content-center" >
				{%for category in categories %}
					<a id="categories" class="col d-flex justify-content-center"   href="{% url 'show_category' category %}">
						{{category}}
					</a>
				{%endfor%}
			</div>
			<div class="row d-flex align-items-center justify-content-center"><h1>{{category.name}}</h1></div>
			<div class="row d-flex align-items-center justify-content-center">
				{% if category %}
 					{% if plays %}
 					<ul>
 						{% for play in plays %}
 						<li><a href="{% url 'show_play' category play  %}">{{ play }}</a></li>
 						{% endfor %}
 					</ul>
 					{% else %}
 					<strong>No plays currently in category.</strong>
					{% endif %}
 					{% else %}
 					The specified category does not exist!
 					{% endif %}
			</div>
			
		</div>
	{% else %}
		<strong>No categories present!</strong>
	{% endif %}
{% endblock %}