{% extends 'Scriptspeare/base.html' %}
{% load staticfiles %}

{% block body_block %}
			<div class="row" id="content">
				<div class="col-6" id="content-left">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h1>
               						{{play.title}}<br>
               					</h1>
								<select class="custom-select" onchange="location = this.value;" >
									{% if all_interp %}
							 				<ul>
							 					<option value="">Now viewing: {{ interp.lead }}, {{interp.year}}</option>
							 					<option value ="" >----------------------</option>
							 				{% for itps in all_interp %}
							 					<option value="{% url 'show_interpretation' category.slug play.slug itps.id %}">{{ itps.lead }}, {{itps.year}}</option>
							 				{% endfor %}
							 				</ul>
							 			{% else %}
							 				<strong>No plays currently in category.</strong>
										{% endif %}
								</select>
							</div>
							<div class="col-12">
								<video poster="" class="col-12" id="media" style="margin-top: 0;"> 
									<source type="video/mp4" src="/media/{{play.slug}}/{{interp.id}}.mp4">
								</video>
								<div id="overlay_left" class="overlay"><i class="fas fa-arrow-left" onCLick="location.href='{% url 'show_interpretation' category.slug play.slug prev.id %}'"></i></div>
								<div id="overlay_right" class="overlay"><i class="fas fa-arrow-right" onCLick="location.href='{% url 'show_interpretation' category.slug play.slug next.id %}'"></i> </a></div>
							</div>
							<div class="col-9">
								<h4>{{play.title}}</h4>
								<p style="margin-bottom: 4em;">{{ interp.lead }},{{interp.year }} </p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6" id="content-right">
					<div class="container-fluid">
						<div class="row">
							<div class="col-9 script">
               					
								
           						<p class="stage-dir"><a href="#t=00:00:00,000"> RE-ENTER SEYTON. </a></p>
								<p class="char">MACBETH</p>
								<p><a href="#t=00:00:02,060"> Wherefore was that cry? </a></p>
								<p class="char">SAYTON</p>
								<p><a href="#t=00:00:03,180"> The Queen, my lord, is dead. </a></p>
								<p class="char">MACBETH</p>
								<p><a href="#t=00:00:13,120">She should have died hereafter; </a><br>
								<a href="#t=00:00:18,680"> There would have been a time for such a word. </a><br>
								<a href="#t=00:00:22,300"> Tomorrow, and tomorrow, and tomorrow </a><br>
								<a href="#t=00:00:34,740"> Creeps in this petty pace from day to day </a><br>
								<a href="#t=00:00:40,120"> To the last syllable of recorded time; </a><br>
								<a href="#t=00:00:45,820"> And all our yesterdays have lighted fools </a><br>
								<a href="#t=00:00:50,320"> The way to dusty death. Out, out, brief candle! </a><br>
								<a href="#t=00:01:00,900"> Life's but a walking shadow, a poor player </a><br>
								<a href="#t=00:01:08,300"> That struts and frets his hour upon the stage </a><br>
								<a href="#t=00:01:13,020"> And then is heard no more. It is a tale </a><br>
								<a href="#t=00:01:19,160"> Told by an idiot, full of sound and fury, </a><br>
								<a href="#t=00:01:28,040"> Signifying nothing.</a></p>	
							</div>
							<div class="col-3">
								<form class="form">
									<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
								</form>
								<div class="container-fluid" id="more">
									<div class="row">
										<div class="col-8">
											<button class ="side-buttn" onclick="setState('click')">Go to</button>
										</div>
										<div class="col-4">
											<img src="/media/greycircle.png" class="img-fluid">
										</div>
									</div>
									<div class="row">
										<div class="col-8">
											<button class="side-buttn" onclick="">Notes</button>
										</div>
										<div class="col-4">
											<img src="/media/greycircle.png" class="img-fluid">
										</div>
									</div>
									<div class="row">
										<div class="col-8">
											<button class="side-buttn" onclick="setState('select')">Select</button>
										</div>
										<div class="col-4">
											<img src="/media/greycircle.png" class="img-fluid">
										</div>
									</div>
								</div>
								<small class="text-muted">line: 131/465</small>
							</div>
						</div>
					</div>
					
				</div>
			</div>
{% endblock %}
{% block bar_block%}
			<div  class=" row-centered navbar navbar-expand-lg fixed-bottom " style="height:4em; background-color: black;">
      				<div class="col-12 align-middle bar-icons col-centered">
						<div class="dropup">
							<button class="dropbtn">Playback</button>
							<div class="dropup-content">
								<a href="#" onclick="media.setPlaybackRate(0.5)">0.5</a>
								<a href="#" onclick="media.setPlaybackRate(0.75)">0.75</a>
								<a href="#" onclick="media.setPlaybackRate(1)">Normal</a>
								<a href="#" onclick="media.setPlaybackRate(1.5)">1.5</a>
								<a href="#" onclick="media.setPlaybackRate(2)">2.0</a>
							</div>
						</div>
						<button class="dropbtn" onclick="media.setTime(media.getTime() - 10)">-3 lines</button>
      					<i id="playbutton" class="fas fa-play-circle bar-button"  style="font-size: 3em;" onclick="togglePauseUI(this, media)"></i>
						<button class="dropbtn" onclick="media.setTime(media.getTime() + 10)">+3 lines</button>
      					<i class="fas fa-redo bar-button" onclick="media.toggleLoop()"></i>
      				</div>
      			
    		</div>
{% endblock %}