{% extends 'ScriptSpeare/base.html' %}
{% load staticfiles %}

{% block head_block %}
<script>
$(document).ready(function() {
	getTranscript('https://s3.eu-west-2.amazonaws.com/scriptspeare-media-files/{{category}}/{{abbr}}/{{interp.0}}-{{interp.1}}-{{interp.2}}-{{interp.3}}-{{interp.4}}-{{interp.5}}.json');
});
</script>
{% endblock %}

{% block body_block %}
			<div class="row" id="content">
				<div class="col-6" id="content-left">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<h1>
               						{{play}}<br>
               					</h1>
								<select class="custom-select" onchange="location = this.value;" >
									{% if all_interp %}
							 				<ul>
							 					<option value=""> {{interp.3}} : {{interp.2}}, {{ interp.1}} ({{interp.4}}/{{interp.5}})</option>
							 					<option value ="" >----------------------</option>
							 				{% for itps in all_interp %}
							 					<option value="{% url 'show_interpretation' category play interp_id %}">{{itps.3}} : {{itps.2}}, {{ itps.1}} ({{itps.4}}/{{itps.5}})</option>
							 				{% endfor %}
							 				</ul>
							 			{% else %}
							 				<strong>No plays currently in category.</strong>
										{% endif %}
								</select>
							</div>
							<div class="col-12">
								<video controls poster="" class="col-12" id="media" style="margin-top: 0;">
									<source type="video/mp4" src="https://s3.eu-west-2.amazonaws.com/scriptspeare-media-files/{{category}}
									/{{abbr}}/{{interp.0}}-{{interp.1}}-{{interp.2}}-{{interp.3}}-{{interp.4}}-{{interp.5}}.mp4">
								</video>
								<div class="overlay d-flex align-items-center justify-content-center">
								<i class="fas fa-arrow-left " id="overlay_left" onCLick="location.href='{% url 'show_interpretation' category play prev %}' + getCurrentLineLink()"></i>
								<i id="overlay-play" id="overlay_middle" class="fas fa-play-circle bar-button "   onclick="media.togglePause()"></i>
								<i class="fas fa-arrow-right"  id="overlay_right" onCLick="location.href='{% url 'show_interpretation' category play next %}' + getCurrentLineLink()"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6" id="content-right">
					<div class="container-fluid">
						<div class="row">
							<div class="col-9 script text-scroll">

							</div>
							<div class="col-3">
								<form class="form">
									<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
								</form>
								<div class="container-fluid" id="more">
								<form>
									<div class="row">
										<div class="col-12">
											<label><input type="radio" class ="side-buttn" onclick="setState('click')">Go to</label>
										</div>
									</div>
									<div class="row">
										<div class="col-12 radio">
											<label><input type="radio" class="side-buttn" onclick="">Notes</label>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<label><input type="radio" class="side-buttn" onclick="setState('select')">Select</label>
										</div>
									</div>
									</form>
								</div>
								<small class="text-muted"></small>
							</div>
						</div>
					</div>

				</div>
			</div>
{% endblock %}
{% block bar_block%}
			<div  class=" row-centered navbar navbar-expand-lg fixed-bottom " style="height:4em; background-color: black;">
      				<div class="col-12 align-middle bar-icons col-centered">
						<div class="dropup">
							<button class="dropbtn">Playback</button>
							<div class="dropup-content">
								<a href="#" onclick="media.setPlaybackRate(0.5)">0.5</a>
								<a href="#" onclick="media.setPlaybackRate(0.75)">0.75</a>
								<a href="#" onclick="media.setPlaybackRate(1)">Normal</a>
								<a href="#" onclick="media.setPlaybackRate(1.5)">1.5</a>
								<a href="#" onclick="media.setPlaybackRate(2)">2.0</a>
							</div>
						</div>
      					<i id="playbutton" class="fas fa-play-circle bar-button"  style="font-size: 3em;" onclick="media.togglePause()"></i>
      					<i class="fas fa-redo bar-button" onclick="media.toggleLoop()"></i>
      				</div>

    		</div>
{% endblock %}
