{% extends 'ScriptSpeare/base.html' %}
{% load staticfiles %}

{% block head_block %}
<script>
$(document).ready(function() {
	getTranscript('https://s3.eu-west-2.amazonaws.com/scriptspeare-media-files/{{category}}/{{abbr}}/{{interp.0}}-{{interp.1}}-{{interp.2}}-{{interp.3}}-{{interp.4}}-{{interp.5}}.json');
});
</script>
{% endblock %}

{% block body_block %}
			<div class="row" id="content">
				<div class="col-6" id="content-left">
					<div class="container-fluid">
						<div class="row">
							<h1 style="margin-top:2vh; margin-bottom:0;"> {{play}}<br>
               				</h1>
							<div class="col-12"  >



								<div class="coffeedropdown" >
  								
  								<button  class="col-12 coffeedropbtn " onClick="coffeemyFunctionDrop()">{{interp.3}} : {{interp.2}}, {{ interp.1}} ({{interp.6}}/{{interp.7}})</button>
								<div id="coffeemyDropdown" class="coffeedropdown-content">
								<input class="col-10"type="text" id="coffeemySearch" onkeyup="coffeemyFunctionSearch()" placeholder="Search.." title="Type in a category">


										<div class=" row coffeerow">
									<div class="coffeeleft col-2" >
										<h5>Category</h5>
										
										<ul id="coffeemyMenu">
											<li><a href="#" onmouseover="coffeefilterFunction(this.innerHTML)">ALL</a></li>
											<li><a href="#" onmouseover="coffeefilterFunction(this.innerHTML)" >FILM</a></li>
											<li><a href="#" onmouseover="coffeefilterFunction(this.innerHTML)" >STAGE</a></li>
											<li><a href="#" onmouseover="coffeefilterFunction(this.innerHTML)" >AUDIO</a></li>
										</ul>
									</div>

									<div class="coffeeright col-10" >
										<h5>Adaptation list</h5>
										<div class="coffeescroller col-12">
											{% if all_interp %}
											    <ul id="coffeemyAdaptations">
											    {% for itps in all_interp %}
											      <a href="{% url 'show_interpretation' category play itps.8 %}">{{itps.3}} : {{itps.2}}, {{ itps.1}} ({{itps.6}}/{{itps.7}})</a>
											    {% endfor %}
											    </ul>
											  {% else %}
											    <strong>No plays currently in category.</strong>
											  {% endif %}
										</div>

									</div>
								</div>
  								</div>
								</div>



							</div>
							<div class="col-12">
								<video controls poster="" class="col-12" id="media" style="margin-top: 0;">
									<source type="video/mp4" src="https://s3.eu-west-2.amazonaws.com/scriptspeare-media-files/{{category}}
									/{{abbr}}/{{interp.0}}-{{interp.1}}-{{interp.2}}-{{interp.3}}-{{interp.4}}-{{interp.5}}.mp4">
								</video>
								<div class="overlay d-flex align-items-center justify-content-center">
								<i class="fas fa-arrow-circle-left" id="overlay_left" onCLick="location.href='{% url 'show_interpretation' category play prev %}'"></i>
								<i id="overlay-play" id="overlay_middle" class="fas fa-play-circle bar-button "   onclick="togglePauseUI(this, media)"></i>
								<i class="fas fa-arrow-circle-right" id="overlay_right" onCLick="location.href='{% url 'show_interpretation' category play next %}'"></i>


								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6" id="content-right">
					<div class="container-fluid">
						<div class="row">
							<div class="col-9 script text-scroll">

							</div>
							<div class="col-3">
								<form class="form">
									<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
								</form>
								<div class="container-fluid" id="more">
								<form>
									<div class="row">
										<div class="col-11">

                                            <div class="radio fancy-blue">
                                                <label>
                                                    <input type="radio" name="optionsRadios" onclick="setState('click')" style="margin-right: 10px;">
                                                        Go to
                                                    <span></span>
                                                </label>
                                            </div>


										</div>
									</div>
									<div class="row">
										<div class="col-11">


                                            <div class="radio fancy-blue">
                                                <label>
                                                    <input type="radio" name="optionsRadios"  onclick="" style="margin-right: 10px;">
                                                        Notes
                                                    <span></span>
                                                </label>
                                            </div>

										</div>
									</div>
									<div class="row">
										<div class="col-11">

                                            <div class="radio fancy-blue">
                                                <label>
                                                    <input type="radio" name="optionsRadios" onclick="setState('click')" style="margin-right: 10px;">
                                                        Select
                                                    <span></span>
                                                </label>
                                            </div>

										</div>
									</div>
									</form>
								</div>
								<small class="text-muted"></small>
							</div>
						</div>
					</div>

				</div>
			</div>
{% endblock %}
{% block bar_block%}
			<div  class=" row-centered navbar navbar-expand-lg fixed-bottom " style="height:4em; background-color: black;">
      				<div class="col-12 align-middle bar-icons col-centered">
						<div class="dropup">
							<button class="dropbtn">Playback</button>
							<div class="dropup-content">
								<a href="#" onclick="media.setPlaybackRate(0.5)">0.5</a>
								<a href="#" onclick="media.setPlaybackRate(0.75)">0.75</a>
								<a href="#" onclick="media.setPlaybackRate(1)">Normal</a>
								<a href="#" onclick="media.setPlaybackRate(1.5)">1.5</a>
								<a href="#" onclick="media.setPlaybackRate(2)">2.0</a>
							</div>
						</div>
      					<i id="playbutton" class="fas fa-play-circle bar-button"  style="font-size: 2em;" onclick="togglePauseUI(this, media)"></i>
      					<i class="fas fa-redo bar-button" onclick="media.toggleLoop()"></i>
      				</div>

    		</div>
{% endblock %}
