html { 
    font-family: 'Cormorant Garamond', serif;
}
#header {
	background-color: black;
	color: white;
}
#header h4 {
	padding: 3px 0;
}
#content > .col-6 {
	padding-left: 30px;
	padding-right: 20px;
}
#content-left [class^="col"] {
	padding: 0;
	margin-top: 30px;
}
#content-left > .container-fluid > .row:last-child {
	margin-bottom: 30px;
}
#content-right {
	border-left: 1px solid silver;
}
#content-right [class^="col"] {
	padding: 0;
	margin-top: 20px;
}
#content-right h1 > small {
	font-size: 1.25rem;
}
#more {
	border: 1px solid silver;
	margin-top: 20px;
}
#more [class^="col"] {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0 10px;
}
#footer {
	background-color: black;
	color: white;
}

			
select, input {
	border: 1px solid black !important;
	border-radius: 0 !important;
}



.script{
	  font-family: 'Cormorant Garamond', serif;
}
.stage-dir {
    color: rgb(100, 100, 100);
    font-style: italic;
}

.char {
    font-weight: bolder;
}

.script p {
	padding: 0;
	margin:0;
   
}
.script a {
    text-decoration: none;
    color: black;
}