html {
    font-family: 'Cormorant Garamond', serif;
}
#header {
	background-color: black;
	color: white;
}
#header h4 {
	padding: 3px 0;
}
#content > .col-6 {
	padding-left: 30px;
	padding-right: 20px;
}
#content-left [class^="col"] {
	padding: 0;
	margin-top: 30px;
}
#content-left > .container-fluid > .row:last-child {
	margin-bottom: 30px;
}
#content-right {
	border-left: 1px solid silver;
}
#content-right [class^="col"] {
	padding: 0;
	margin-top: 20px;
}
#content-right h1 > small {
	font-size: 1.25rem;
}
.side-buttn{
	border-radius: 0.5em;
}
#more {
	border: 1px solid silver;
	margin-top: 20px;
}
#more [class^="col"] {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0 10px;
}
#media{
	background-color: grey;
}
#footer {
	background-color: black;
	color: white;
}
select, input {
	border: 1px solid black !important;
	border-radius: 0 !important;
}

.text-scroll{
  width: 340px;
  height: 700px;
  overflow: scroll;
}

.script{
	  font-family: 'Cormorant Garamond', serif;
}
.stage-dir {
    color: rgb(100, 100, 100);
    font-style: italic;
}

.char {
    font-weight: bolder;
}

.script p {
	padding: 0;
	margin:0;

}
.script a {
    text-decoration: none;
    color: black;
}

.bar-button{
	margin-left: 0.5em;
	margin-right: 0.5em;
	color: white;
	cursor: pointer;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}
.row-centered {
    text-align:center;
}




.overlay {
  position:absolute ;
  top: 25%;
  color: #FFF;
  vertical-align: middle;
  font-size: 3em;
  background: rgb(255, 255, 255) transparent;
  width: 100%;
  height: 30%;
  padding: 10px 0;
  z-index: 6;
  opacity: 0.0;
}
#overlay_right {
	position:absolute ;
  	right: 0;
}
#overlay_middle {
	position:absolute ;
}
#overlay_left {
	position:absolute ;
 	left: 0;
}

.overlay:hover {
  opacity: 1.0;
}

#media {
  z-index: 1;
  margin-bottom:10%;
}

.not_in_audio {
	color: #555;
}

.not_in_audio b {
	color: #000;
}

.not_in_audio i {
	color: #222;
}

.not_in_audio h1 {
	color: #000;
}

.not_in_audio h2{
	color: #000;
}




.coffeedropbtn {
  color: black;
  background-color:white;
  width: 100%;
  height: 40px;
  border-style: solid;
  border-color: black
  border: none;
  cursor: pointer;
}

.coffeedropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.coffeedropdown {
  position: relative;
  display: inline-block;
}

.coffeedropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 605px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.coffeedropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.coffeedropdown a:hover {  background-color:white;}

.coffeeshow {display: block;}









.coffeerow {
  display: flex;

}

/* Left column (menu) */
.coffeeleft {
  flex: 35%;
  padding: 15px 0;
}

.coffeeleft h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.coffeeright {
  flex: 65%;
  padding: 15px;
  background-color:white;
}

/* Style the search box */
#coffeemySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border:1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#coffeemyMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#coffeemyMenu li a {
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#coffeemyMenu li a:hover {
  background-color: #eee;
}


.coffeescroller {
  width: 400px;
  height: 300px;
  overflow:scroll;
}
